:root{
    --backgroundcolor: #000000;
}

html{
    box-sizing: border-box;
    font-size: 100%;
}

*,*::before, *::after{
    box-sizing: inherit;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--backgroundcolor);
    color: #ffffff;
}

#output{
    font-family: 'Zen Antique', serif;
    text-align: center;
    font-size: 1.5rem;
}

#map{
    width: 100%;
    height: 100vh;
}