*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --backgroundcolor: #000000;
    --primary-color:#f4f4f560;
}

html {
    box-sizing: border-box;
    font-size: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background-color: var(--backgroundcolor);
    color: #ffffff;
}

/* navbar */

.navigation {
    background-color: var(--primary-color);
    padding: 20px;
    color: white;
    border-bottom-left-radius: 1.5rem;
}

.navigation .nav-brand {
    font-weight: bold;
    font-size: 1.1rem;
}

nav ul {
    text-align: right;

}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 1rem;
    text-align: right;
}


/* dark-light-mode */

.light-mode{
    background-color: #ffffff;
    color: rgba(255, 248, 248, 0.603);
    transition: 0.5s;
}

.light-mode-header{
    background-color: rgba(0, 0, 0, 0.822);
    color: rgba(255, 250, 250, 0.904);
}
.light-mode-footer{
    color: black;
}

/* button */

.dark-light-btn{
    background: transparent;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    width: 40px;
    height: 30px;
}

/* Container */

#container {
    padding: 20px;
    margin: 5%;
    text-align: center;
    background-image: url(img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    /* width: 100%; */
    height: auto;
    box-shadow: 10px 10px 5px rgba(53, 53, 53, 0.356);
    border-radius: 10px;
}

@media (max-width:700px) {
   #container{
    background-image: url(img/bg8.jpg);
       background-position: left center;
       background-size: cover;
   }
   #container #container-heading {
       color: black;
   }
   #container #container-paragraph{
       color: black;
   }
   #output{
    color: black;
}

}

#container #container-heading {

    font-family: 'Dancing Script', cursive;
    font-size: 3rem;
    text-align: center;
}

#container #container-paragraph {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5rem;
    text-align: center;
}

#container #check-location-btn {
    display: inline-block;
    padding: 0.3em 1.2em;
    margin: 0.9em 0.3em 0.3em 0;
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #ffffff;
    background-color: #4eb5f1;
    text-align: center;
    transition: all 0.2s;
}

#container #check-location-btn:hover {
    background-color: #4095c6;
}

@media all and (max-width:30em) {
    #check-location-btn {
        display: block;
        margin: 0.2em auto;
    }
    
}

#output {
    text-align: center;
    font-size: 1.5rem;
}

#map {
    width: 100%;
    height: 100vh;
    border-radius: 10px;
}

#output{
    margin: 10px 0px 20px 0px;
}

/* link */

.link{
    text-decoration: none;
    padding:0.5rem 1rem;
 }
 
 .link-primary{
    background-color: var(--primary-color);
     border-radius: 0.5rem;
     color: white;
 }
 
 .link-secondary{
     color: var(--primary-color);
     border: 1px solid var(--primary-color);
     border-radius: 0.5rem;
 }

/* footer */

.footer{
    text-align: center;
    width: 100%;
    left: 0;
    bottom: 0;
    /* position: fixed; */
}

.footer .footer-header{
    font-weight: bold;
    font-size: large;
}